.slides{
    animation : slider_animate 10s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes slider {
	0% { transform: translateX(0px); }
	20% { transform: translateX(0px); }
	25% { transform: translateX(800px); }
	45% { transform: translateX(800px); }
	50% { transform: translateX(1600px); }
	70% { transform: translateX(1600px); }
	75% { transform: translateX(2400px); }
	95% { transform: translateX(2400px); }
	100% { transform: translateX(0px);  }
}
.slide{
    width: 1920px;
    height : 100%;
    object-position: top;
}
img{
    width:"1920px";
    height:"calc(100vh-100px)";
}